<script src="%url%/scripts/tsout.js"></script>
<link href="%url%/content/site.css" rel="stylesheet" type="text/css"/>

<!--Fontawesome-->
<link href="%url%/fontawesome/css/all.css" rel="stylesheet" type="text/css">

<!--Bootstrap files-->
<link rel="stylesheet" href="%url%/content/bootstrap/bootstrap.css" type="text/css">
<script src="%url%/scripts/jquery/jquery.js"></script>
<script src="%url%/scripts/popper/popper.js"></script>
<script src="%url%/scripts/bootstrap/bootstrap.min.js"></script>

<title>MemeIo - %title%</title>

<script>
    Config.baseUrl = "%url%";
    Config.isLoggedIn = %isLoggedIn%;
    Validator.Create(JSON.parse('%errors%'));
</script>