<nav class="navbar bg-navigation mb-w">
    <div class="d-flex">
        <form method="GET" class="d-flex" action="%url%/Post/index.php">
            <input class="form-control" type="text" name="query" id="search"/>
            <button type="submit" class="btn btn-primary" title="Suchen">
                <span class="text-white">
                    <i class="fa fa-search"></i>
                </span>
            </button>
        </form>

    </div>
    <div>
        <ul class="nav">
            <li class="nav-item" class="nav-item">
                <a class="nav-link" href="%url%">Home</a>
            </li class="nav-item">
            <li>
                <a class="nav-link" href="%url%/Kategorien">Kategorien</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="%url%/Post">Posts</a>
            </li>
        </ul>
    </div>
    <div>%AccountControl%</div>
</nav>