<div class="card mt-2">
    <div class="card-body">
        <h4 class="card-title">
            %Title%
        </h4>
        <div>
            <a href="%url%/Account/details.php?userId=%CreatorId%">
                <i class="fa fa-user"></i>%CreatorName%
            </a>
            |
            <a href="%url%/Kategorien/details.php?categoryId=%CategoryId%">
                <i class="fa fa-list"></i>%CategoryName%
            </a>
        </div>
        <img class="img-fluid" src="%url%/Images/%CategoryName%/%FileName%">
    </div>
</div>