<div class="card">
    <div class="card-body">
        <h4 class="card-title">
            %title%
        </h4>
        <div>
            <a href="%url%/Account/details.php?userId=%creatorId%">
                <i class="fa fa-user"></i>%creatorName%
            </a>
            |
            <a href="%url%/Kategorien/details.php?categoryId=%categoryId%">
                <i class="fa fa-list"></i>%categoryName%
            </a>
        </div>
        <img src="%url%/data/%path%"/>
    </div>
</div>