<div class="card mt-2">
    <div class="card-body">
        <h4 class="card-title">
            %Title%
        </h4>
        <div>
            <a href="%url%/Account/details.php?userId=%CreatorId%">
                <i class="fa fa-user"></i>%CreatorName%
            </a>
            |
            <a href="%url%/Kategorien/details.php?categoryId=%CategoryId%">
                <i class="fa fa-list"></i>%CategoryName%
            </a>
        </div>
        <div class="d-flex justify-content-center">
            <img class="img-fluid" src="%url%/Images/%CategoryName%/%FileName%">
        </div>
    </div>
    <div class="card-footer d-flex justify-content-around">
        <span class="text-warning">
            <script>
                PostUI.RenderRating(document.currentScript.parentElement, %Id% ,%Rating%)    
            </script>
        </span>
        <span onclick="RenderComments(%Id%)">
            <i ref="comment-icon" class="fa fa-comment-alt"></i>
        </span>
        <script>
            function RenderComments(id){     
                PostUI.RenderComments(document.getElementById('comments-section-' + id), id);
            }
        </script>
    </div>
    <div id="comments-section-%Id%">

    </div>
</div>